nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  flex-wrap: wrap;
}

nav img {
  display: flex;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav li {
  margin-right: 10px;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

footer {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer img {
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer-container ul {
  list-style: none;
  padding: 20px;
  justify-content: inline-block;
}

.footer-container li {
  display: grid;
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #333;
}

a {
  color: black;
}

.body-flex-container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  background-color: #495e57;
  min-height: 650px;
  height: fit-content;
}

@media (max-width: 900px) {
  .body-flex-container {
    column-count: 1;
  }
}

@media (min-width: 900px) {
  .body-flex-container {
    column-count: 2;
  }
}

.box {
  text-align: left;
  margin-right: 10px;
  padding: 10px;
}

@media (max-width: 900px) {
  .box {
    margin: 10px 0px 10px 10px;
  }
}

.box > h1 {
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  color: #f4ce14;
}

.box > h3 {
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
}

.box > p {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  max-width: 500px;
  color: #ffffff;
}

button {
  background: #f4ce14;
  border-radius: 20px;
  font-size: medium;
  font-weight: 800;
  border: none;
}

@media (max-width: 900px) {
  button {
    width: 100px;
    height: 30px;
    font-size: small;
    font-weight: 400;
  }
}

@media (min-width: 900px) {
  button {
    width: 200px;
    height: 60px;
    font-size: medium;
    font-weight: 800;
  }
}

@media (max-width: 900px) {
  #reserveTableButton {
    margin: 10px 0px 0px 0px;
  }
}

@media (min-width: 900px) {
  #reserveTableButton {
    margin: 100px 0px 0px 0px;
  }
}

#coverImage {
  border-radius: 20px;
}

@media (max-width: 900px) {
  #coverImage {
    width: 135px;
    height: 250px;
  }
}

@media (min-width: 900px) {
  #coverImage {
    width: 270px;
    height: 500px;
  }
}

.grid-container {
  display: grid;
  align-items: center;
  margin-bottom: 100px;
  grid-template-rows: 0.5fr 1fr; /* Creates 2 rows */
  grid-template-columns: 1fr 0.5fr 1fr; /* Creates 3 columns */
  grid-template-areas:
    "title empty button" /* Assigns the first two columns to this area */
    "dish1 dish2 dish3"; /* Assigns the next three columns to this area */
}

/* When screen size below 900px, change grid */
@media (max-width: 900px) {
  .grid-container {
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr; /* Creates 5 rows */
    grid-template-columns: 1fr; /* Creates 1 columns */
    grid-template-areas: "title" "button" "dish1" "dish2" "dish3";
  }
}

.grid-title {
  grid-area: title;
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  color: black;
  margin: 70px 20px 20px 20px;
}

@media (max-width: 900px) {
  .grid-title {
    text-align: center;
  }
}

@media (min-width: 900px) {
  .grid-title {
    text-align: right;
  }
}

.grid-button {
  grid-area: button;
}

@media (max-width: 900px) {
  .grid-button {
    justify-self: center;
    margin-top: 0px;
  }
}

@media (min-width: 900px) {
  .grid-button {
    justify-self: start;
    margin-top: 70px;
  }
}

.grid-container > .specialCard {
  position: relative;
  margin: 50px;
  max-width: 273px;
  height: 450px;
  background: #edefee;
  border-radius: 8px;
}

.specialCard img {
  width: 273px;
  height: 136px;
  border-radius: 8px;
}

.specialCard .name-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.specialCard .name {
  display: flex;
  font-family: "Markazi Text";
  margin: 0 0 0 0;
  padding: 10px 0 0 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  color: #000000;
}

.specialCard .price {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  padding: 10px 10px 0 0;
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: right;
  color: #ee9972;
}

.specialCard .deliveryTag {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 10px 0 10px 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.specialCard p {
  padding: 10px;
  max-height: 200px;
  overflow: hidden;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #000000;
  margin: 5px;
}

.specialCard p:hover {
  overflow: auto;
}

#specialCard1 {
  grid-area: dish1;
}

@media (max-width: 900px) {
  #specialCard1 {
    justify-self: center;
  }
}

@media (min-width: 900px) {
  #specialCard1 {
    justify-self: end;
  }
}

#specialCard2 {
  grid-area: dish2;
  justify-self: center;
}

#specialCard3 {
  grid-area: dish3;
}

@media (max-width: 900px) {
  #specialCard3 {
    justify-self: center;
  }
}

@media (min-width: 900px) {
  #specialCard3 {
    justify-self: start;
  }
}

.ratingCardContainer {
  flex-wrap: wrap;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
}

.ratingCardContainer > h3 {
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}

.ratingCard {
  display: grid;
  align-items: flex-start;
  grid-template-rows: 0.5fr 1fr 0.5fr; /* Creates 3 rows */
  grid-template-columns: 0.5fr 1fr 0.5fr; /* Creates 3 columns */
  grid-template-areas:
    "Rating Rating Rating"
    "Pic Pic Name"
    "Review Review Review";
  background: #ede5e5;
  height: 230px;
  width: 204px;
  padding: 10px;
  margin: 10px 20px 50px 20px;
  overflow: hidden;
}

.ratingCard:hover {
  overflow-y: auto;
}

.ratingCard > .rating {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin: 5px;
  color: #000000;
  grid-area: Rating;
}

.ratingCard > .ratingPic {
  position: relative;
  height: 64px;
  width: 64px;
  margin: 0px 10px 5px 10px;
  grid-area: Pic;
  align-items: flex-start;
  border: 1px solid #000000;
}

.ratingCard > .ratingName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  grid-area: Name;
  margin: 25px 10px 0 5px;
  align-items: center;
  color: #000000;
}

.ratingCard > .ratingReview {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  grid-area: Review;
  margin: 5px;
  align-items: flex-end;
  color: #000000;
}

.img1 {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
  overflow: scroll;
}
.img2 {
  position: relative;
  z-index: 2;
  padding: 10px;
  margin: 10px;
  overflow: scroll;
}

@media (max-width: 900px) {
  .img1 {
    top: 0px;
  }
}

@media (min-width: 900px) {
  .img1 {
    top: 20px;
    left: 200px;
  }
}

@media (max-width: 900px) {
  .img2 {
    top: 0px;
    left: 0px;
  }
}

@media (min-width: 900px) {
  .img2 {
    top: 50px;
    left: 50px;
  }
}

#infoImage {
  border-radius: 20px;
  flex-flow: wrap;
}

@media (max-width: 950px) {
  #infoImage {
    width: 135px;
    height: 250px;
  }
}

@media (min-width: 950px) {
  #infoImage {
    width: 270px;
    height: 500px;
  }
}

form {
  display: grid;
  padding: 5%;
  grid-template-rows: auto;
  gap: 0.5em;
  text-align: start;
  font-family: "Markazi Text";
  font-style: normal;
  font-size: 32px;
  color: #f4ce14;
}

form > input,
form > select {
  border-radius: 10px;
  padding: 0 0 0 10px;
  margin: 0 0 10px 0;
  height: 40px;
}

form > label {
  height: fit-content;
  padding: 5px 0 0 0;
}

::placeholder {
  color: black;
  opacity: 1;
}

.userInfo::placeholder {
  color: black;
  opacity: 0.3;
}

.userInfo > input {
  border-radius: 10px;
  padding: 0 0 0 10px;
  margin: 0 0 10px 0;
  height: 40px;
}

.userInfo > button {
  place-items: center;
}

textarea {
  border-radius: 10px;
  height: 200px;
  font-size: 0.5em;
  overflow: hidden;
}

textarea:hover {
  overflow: auto;
}

.submit {
  display: grid;
  padding: 10px;
  width: 80%;
  background: #f4ce14;
  text-align: center;
  height: 50px;
  margin: 50px 10% 50px 10%;
  align-items: center;
  border-radius: 20px;
  font-size: medium;
  font-weight: 800;
  border: none;
}

.error {
  font-size: 0.9rem;
  color: red;
  display: block;
}
